[submodule "submodules/cstd"]
	path = submodules/cstd
	url = https://github.com/gaultier/cstd.git
[submodule "submodules/c-http"]
	path = submodules/c-http
	url = https://github.com/gaultier/c-http.git
